// color variables
$grey-800: #4d4d4d;
$grey-500: #989898;
$grey-400: #b2b0b0;
$grey-300: #dbd7d7;
$grey-200: #eae8e8;
$grey-100: #e6e6e6;

$master-red: #e50000;
$hover-red: #fc9999;

$master-green: #00ae49;
$hover-green: #4db779;