@import '~style-partials/variables';

.details-list {

}

.details-list__toggler {

}

.details-list__list {

}

.details-list__item {
    padding-bottom: 5px;
    border-bottom: 1px dashed $grey-100;
    margin-bottom: 5px;
}