@import '~style-partials/variables';

.layout {

}

.layout__header {
    padding: 20px 0;
    margin-bottom: 30px;
    border-bottom: 2px solid $grey-200;
}

.header {

}

.header__title {
    color: $grey-800;
}

.header__arrow {
    height: 23px;
}



