.language-select {
  padding-top: 25px;
  padding-bottom: 25px;
}

.language-select__control {
  max-width: 300px;
  width: 100%;
  color: #4d4d4d;
  font-size: 12px;
  padding: 5px;
  border-radius: 0;
  height: 28px;
}

.language-select__label {
  margin-bottom: 5px;
  color: #989898;
  font-size: 12px;
}
